<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/main.css}" rel="stylesheet">

</head>

<body>

<form action="#" th:action="@{/ratio}" th:object="${webDTO}" method="post">

    <input type="number" name="amount" th:field="*{amount}" placeholder="CURRENCY">
    <select name="curency" th:field="*{curency}">
        <option th:value="EUR">EUR</option>
        <option th:value="USD">USD</option>
        <option th:value="CZK">CZK</option>
    </select>
    <input type="date" name="date" th:field="*{date}" placeholder="yyyy-dd-mm">
    <input type="submit" value="CALCULATE">
    <input type="reset" value="CLEAR">
    <input type="number" name="amount" placeholder="ZLOTY" readonly>

</form>

<tr th:each="webDTO:${history}">

    <td th:text="${webDTO.getDate()}"/>
    <td th:text="${webDTO.getCurency()}"/>
    <td th:text="${webDTO.getAmount()}"/>
    <td th:text="${webDTO.getAmountInZloty()}"/>
<br>
</tr>


</body>

</HTML>